altgraph==0.17.4
Brotli==1.1.0
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
iniconfig==2.0.0
macholib==1.16.3
mutagen==1.47.0
packaging==24.1
pluggy==1.5.0
pycryptodomex==3.20.0
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.7
pytest==8.2.2
pytest-mock==3.14.0
redis==5.0.6
requests==2.32.3
setuptools==70.0.0
spd==0.1
spotipy==2.24.0
urllib3==2.2.1
websockets==12.0
yt-dlp==2024.5.27
